section.comfort__section
    .container
        .comfort__content
            .comfort__items
                - items = [{img:"icon_1",title:'Шумоизоляция',info:"Защита от уличного шума"},{img:"icon_2",title:'Выдержка',info:"Долговечность на долгие годы"},{img:"icon_3",title:'Защита',info:"10-летняя гарантия"},{img:"icon_4",title:'Правильный выбор',info:"Надежное сотрудничество"}]
                each item in items
                    .comfort__item
                        .icon
                            img(src=require(`../../../img/icon/${item.img}.svg`))
                        h4.title #{item.title}
                        p.info #{item.info}
            .section__title(class="black")
                span Продукция
            .comfort__slider(class="owl-carousel owl-theme")
                .comfort__slider-items
                    -slider = ['img','img_1','img_2','img_3','img_4','img','img_1','img_2','img_3','img_4']
                    each item in slider
                        .comfort__slider-item
                            img(src=`./images/${item}.png`)
                .comfort__slider-nav
                    svg(width="40" class="customPrevBtn" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
                        rect( width="40" height="40" rx="20" fill="#DEA412")
                        path(d="M21.4748 25.45L16.5248 20.5C16.4415 20.4167 16.3831 20.3333 16.3498 20.25C16.3165 20.1667 16.2998 20.075 16.2998 19.975C16.2998 19.875 16.3165 19.7833 16.3498 19.7C16.3831 19.6167 16.4415 19.5333 16.5248 19.45L21.4998 14.475C21.6498 14.325 21.829 14.25 22.0373 14.25C22.2456 14.25 22.4248 14.325 22.5748 14.475C22.7248 14.625 22.7956 14.8083 22.7873 15.025C22.779 15.2417 22.6998 15.425 22.5498 15.575L18.1498 19.975L22.5748 24.4C22.7248 24.55 22.7998 24.725 22.7998 24.925C22.7998 25.125 22.7248 25.3 22.5748 25.45C22.4248 25.6 22.2415 25.675 22.0248 25.675C21.8081 25.675 21.6248 25.6 21.4748 25.45Z" fill="#FFF")
                    svg( width="40" class="customNextBtn" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
                        rect( width="40" height="40" rx="20" fill="#DEA412")
                        path( d="M16.85 25.45C16.7166 25.2834 16.6458 25.1 16.6375 24.9C16.6291 24.7 16.7 24.525 16.85 24.375L21.25 19.975L16.825 15.55C16.6916 15.4167 16.6291 15.2375 16.6375 15.0125C16.6458 14.7875 16.7166 14.6084 16.85 14.475C17.0166 14.3084 17.1958 14.2292 17.3875 14.2375C17.5791 14.2459 17.75 14.325 17.9 14.475L22.875 19.45C22.9583 19.5334 23.0166 19.6167 23.05 19.7C23.0833 19.7834 23.1 19.875 23.1 19.975C23.1 20.075 23.0833 20.1667 23.05 20.25C23.0166 20.3334 22.9583 20.4167 22.875 20.5L17.925 25.45C17.775 25.6 17.6 25.6709 17.4 25.6625C17.2 25.6542 17.0166 25.5834 16.85 25.45Z" fill="white")

